<div class="bg-gray-100">
  <!--Filter-->
  <div class="flex items-center gap-2 py-1 w-full">
    <div class="pl-4">
      <svg
        class="w-6 h-6 text-gray-800 dark:text-gray-800"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z"
        />
      </svg>
    </div>
    <!--Filter BTN-->
    <div class="flex text-white">
      <button
        (click)="filterProduct('ทั้งหมด')"
        class="bg-emerald-500 px-2 pt-1 border-b-4 border-r border-emerald-700 active:bg-emerald-600 active:border-b-emerald-100 active:text-white hover:cursor-pointer"
      >
        ทั้งหมด
      </button>
      <button
        (click)="filterProduct('อาหาร')"
        class="bg-emerald-500 px-2 pt-1 border-b-4 border-r border-emerald-700 active:bg-emerald-600 active:border-b-emerald-100 active:text-white hover:cursor-pointer"
      >
        อาหาร
      </button>
      <button
        (click)="filterProduct('เสื้อผ้า')"
        class="bg-emerald-500 px-2 pt-1 border-b-4 border-r border-emerald-700 active:bg-emerald-600 active:border-b-emerald-100 active:text-white hover:cursor-pointer"
      >
        เสื้อผ้า
      </button>
      <button
        (click)="filterProduct('ไอที')"
        class="bg-emerald-500 px-2 pt-1 border-b-4 border-emerald-700 active:bg-emerald-600 active:border-b-emerald-100 active:text-white hover:cursor-pointer"
      >
        ไอที
      </button>
    </div>
  </div>

  <div class="min-h-dvh">
    <div class="container grid grid-cols-2 justify-center gap-2 mx-auto px-2 py-2 lg:grid-cols-4">
      <!-- Card -->
      <div
        *ngFor="let item of showProduct"
        class="flex flex-col justify-center px-2 bg-white shadow rounded-md"
        [ngClass]="{
          'opacity-40 hover:cursor-not-allowed active:bg-white': item.quantity === 0,
          'hover:cursor-pointer active:bg-gray-200': item.quantity !== 0
        }"
        (click)="item.quantity > 0 && onCardProduct(item.id)"
      >
        <!--Image-->
        <div class="flex justify-center pt-2 border-8 border-white/0">
          <img [src]="item.imageurl" class="w-36 h-36 rounded-md" />
        </div>
        <!--Name-->
        <p class="pt-1 font-bold text-base truncate">{{ item.name }}</p>
        <!--Price-->
        <p class="text-lg font-bold">{{ item.price | currency : '฿' : 'symbol' : '1.0-2' }}</p>
        <!--Remainning-->
        <p class="text-sm opacity-40">เหลือ : {{ item.quantity }}</p>
        <!--BTN-->
        <div class="flex justify-center items-center my-1">
          <button
            class="flex justify-center items-center w-1/2 py-1 bg-emerald-500 active:bg-emerald-400 hover:bg-emerald-600 rounded-2xl text-white disabled:bg-emerald-200 disabled:cursor-not-allowed hover:cursor-pointer transition duration-200 ease-in-out"
            (click)="$event.stopPropagation(); onButtonBuy(item)"
            [disabled]="item.quantity === 0"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-4 py-2">
    <div *ngFor="let page of paginatedProduct; let i = index">
      <button
        (click)="onButtonNextPage(i + 1)"
        class="text-white px-2 bg-indigo-500 outline-2 outline-indigo-300 hover:cursor-pointer"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>
