<div class="container mx-auto max-w-md mt-4 space-y-6">
  <!--User Info-->
  <div class="flex justify-between items-center space-x-6 p-4 bg-white">
    <div>
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="w-16 h-16 rounded-full shadow" />
    </div>
    <div>
      <p class="text-2xl lg:text-4xl font-semibold">{{userInfo.unique_name}}</p>
      <p class="text-lg">{{ userInfo.email }}</p>
    </div>
    <div>
      <button (click)="onLogout()" class="bg-red-500 p-2 rounded-full text-center hover:bg-red-400 cursor-pointer">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"
          />
        </svg>
      </button>
    </div>
  </div>

  <!--Order History-->
  <div class="bg-white p-4 space-y-4">
    <p class="pb-2 font-semibold text-2xl border-b border-gray-300">ประวัติการสั่งซื้อ</p>

    <!--OrderList-->
    <div *ngFor="let item of orderListWithExpand; let i = index">
      <div
        class="flex justify-between items-center p-2 lg:p-2 bg-emerald-500 text-white text-sm lg:text-base hover:bg-emerald-400 active:bg-emerald-600 cursor-pointer"
        (click)="onExpend(i)"
      >
        <p class="select-none">{{ item.dateOrder }}</p>
        <p class="select-none">{{ item.products.length }}</p>
        <p class="select-none">{{ item.total | currency : '฿' : 'symbol' : '1.0-2' }}
        </p>
      </div>

      <div *ngIf="item.expand" class="bg-gray-100 p-2 space-y-4">
        <!--products-->
        <div>
          <p>สินค้า :</p>
          <div *ngFor="let product of item.products">
            <p>{{ product.name }}</p>
          </div>
        </div>

        <!--Total-->
        <div>
          <p>ยอดชำระ : {{item.total}}</p>
        </div>

        <!--Adress-->
        <div>
          <p>ที่อยู่จัดส่ง : {{item.address}}</p>
        </div>

        <!--Payment-->
        <div>
          <p>การชำระ : บัตรเครดิต</p>
        </div>
      </div>
    </div>

    <div *ngIf="orderList.length <= 0" class="text-center">ไม่พบประวัติสั่งซื้อ</div>
  </div>
</div>
