<div class="container mx-auto max-w-md mt-4 space-y-6">
  <!--User Info-->
  <div class="flex items-center space-x-6 p-4 bg-white">
    <div>
      <img src="https://shorturl.at/kP5q2" class="w-16 h-16 rounded-full shadow" />
    </div>
    <div>
      <p class="text-2xl lg:text-4xl font-semibold">Renoxenzero</p>
      <p class="text-lg">{{ 'email@hyperai.gg.ai' }}</p>
    </div>
  </div>

  <!--Order History-->
  <div class="bg-white p-4 space-y-4">
    <p class="pb-2 font-semibold text-2xl border-b border-gray-300">ประวัติการสั่งซื้อ</p>

    <!--OrderList-->
    <div *ngFor="let item of orderListWithExpand; let i = index">
      <div
        class="flex justify-between items-center p-2 lg:p-2 bg-emerald-500 text-white text-sm lg:text-base hover:bg-emerald-400 active:bg-emerald-600 cursor-pointer"
        (click)="onExpend(i)"
      >
        <p class="select-none">{{ 'OrderID:23' }}</p>
        <p class="select-none">{{ '01/01/2025' }}</p>
        <p class="select-none">{{ '10 รายการ' }}</p>
        <p class="select-none">{{ 5000 | currency : '฿' : 'symbol' : '1.0-2' }}</p>
      </div>

      <div *ngIf="item.expand" class="bg-gray-100 p-2 space-y-4">
        <!--products-->
        <div>
          <p>สินค้า :</p>
          <div>
            <p>{{ 'รายการสินค้า' }}</p>
          </div>
        </div>

        <!--Total-->
        <div>
            <p>ยอดชำระ :</p>
        </div>

        <!--Adress-->
        <div>
            <p>ที่อยู่จัดส่ง :</p>
        </div>

        <!--Payment-->
        <div>
            <p>การชำระ : บัตรเครดิต</p>
        </div>
      </div>
    </div>

    <div *ngIf="orderList.length <= 0" class="text-center">ไม่พบประวัติสั่งซื้อ</div>
  </div>
</div>
